<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <LogLevel>DEBUG</LogLevel>
  <Attributes>
    <Attribute Name="MaxLEDFormTitle" Value="德阳烟草分拣车间信息屏" />
    <Attribute Name="MaxLEDFormTop" Value="0" />
    <Attribute Name="MaxLEDFormLeft" Value="0" />
    <Attribute Name="MaxLEDFormWidth" Value="500" />
    <Attribute Name="MaxLEDFormHeight" Value="300" />
    <Attribute Name="LED_01_CHANNELCODE" Value="0004" />
    <Attribute Name="LED_02_CHANNELCODE" Value="0017" />
    <Attribute Name="LED_03_CHANNELCODE" Value="0005" />
    <Attribute Name="SupplyToSortLine" Value="00" />
    <Attribute Name="IsMerge" Value="true" />
    <Attribute Name="StockRemainQuantity" Value="0" />
    <Attribute Name="IsActiveLeds" Value="1,192.168.1.11;2,192.168.1.12;3,192.168.1.1;4,192.168.1.2;5,192.168.1.3;6,192.168.1.4;7,192.168.1.5;&#xD;&#xA;8,192.168.1.6;9,192.168.1.7;10,192.168.1.8;11,192.168.1.9;12,192.168.1.10" />
    <Attribute Name="StockInRequestRemainQuantity" Value="10" /><!--拆叠垛机剩余多少件烟请求入库，拆叠垛机堆垛为5件一垛时此数量为10，叠垛数量为4件一垛时此数量为8-->
    <Attribute Name="StockInStackQuantity" Value="5" />         <!--拆叠垛机每一垛堆的数量正常情况下是5件，为5件时StockInCapacityQuantity为5*6=30，为4时StockInCapacityQuantity为4*6=24-->
    <Attribute Name="StockInCapacityQuantity" Value="30" />     <!--拆叠垛机一个通道可以容纳多少件烟正常情况下是30件，为30件时StockInStackQuantity为30/6=5，为24件时StockInStackQuantity为24/6=4-->
    <Attribute Name="SupplyAheadCount-01-1-2" Value="10" />     <!--1号线A线立式机提前量-->
    <Attribute Name="SupplyAheadCount-01-2-2" Value="5" />      <!--1号线B线立式机提前量-->
    <Attribute Name="SupplyAheadCount-01-1-3" Value="13" />     <!--1号线A线通道机提前量-->
    <Attribute Name="SupplyAheadCount-01-2-3" Value="13" />     <!--1号线B线通道机提前量-->
    <Attribute Name="SupplyAheadCount-02-1-2" Value="5" />      <!--2号线A线立式机提前量-->
    <Attribute Name="SupplyAheadCount-02-2-2" Value="7" />      <!--2号线B线立式机提前量-->
    <Attribute Name="SupplyAheadCount-02-1-3" Value="13" />     <!--2号线A线通道机提前量-->
    <Attribute Name="SupplyAheadCount-02-2-3" Value="15" />     <!--2号线B线通道机提前量-->
    <Attribute Name="SupplyAheadCount-03-2-5" Value="17" />     <!--整件线提前量-->
  </Attributes>
  <Services>
    <Service Name="StockPLC_01" Type="THOK.MCP.Service.Siemens.dll, THOK.MCP.Service.Siemens.OPCService" ConfigFile="StockPLC_01.xml" />
    <Service Name="StockPLC_02" Type="THOK.MCP.Service.Siemens.dll, THOK.MCP.Service.Siemens.OPCService" ConfigFile="StockPLC_02.xml" />
    <Service Name="Scanner" Type="THOK.MCP.Service.Sick.dll, THOK.MCP.Service.Sick.SickService" ConfigFile="Scanner.xml" />
  </Services>
  <Processes>
    <Process Name="SupplyNextRequestProcess" Type="THOK.AS.Stocking.dll, THOK.AS.Stocking.StockOutProcess.SupplyNextRequestProcess">
      <Item ServiceName="StockPLC_02" ItemName="01_1_2" /><!--1号线A线立式机补货请求位-->
      <Item ServiceName="StockPLC_02" ItemName="01_2_2" /><!--1号线B线立式机补货请求位-->
      <Item ServiceName="StockPLC_02" ItemName="02_1_2" /><!--2号线A线立式机补货请求位-->
      <Item ServiceName="StockPLC_02" ItemName="02_2_2" /><!--2号线B线立式机补货请求位-->
      <Item ServiceName="StockPLC_02" ItemName="01_1_3" /><!--1号线A线小车补货请求位-->
      <Item ServiceName="StockPLC_02" ItemName="01_2_3" /><!--1号线B线小车补货请求位-->
      <Item ServiceName="StockPLC_02" ItemName="02_1_3" /><!--2号线A线小车补货请求位-->
      <Item ServiceName="StockPLC_02" ItemName="02_2_3" /><!--2号线B线小车补货请求位-->
    </Process>
    <Process Name="SupplyFirstRequestProcess" Type="THOK.AS.Stocking.dll, THOK.AS.Stocking.StockOutProcess.SupplyFirstRequestProcess">
    </Process>
    <Process Name="DataRequestProcess" Type="THOK.AS.Stocking.dll, THOK.AS.Stocking.StockOutProcess.DataRequestProcess">
    </Process>
    <Process Name="ScanProcess" Type="THOK.AS.Stocking.dll, THOK.AS.Stocking.StockInProcess.ScanProcess">
      <Item ServiceName="Scanner" ItemName="01" Desc="扫描器主站01" />
      <Item ServiceName="StockPLC_01" ItemName="ErrTag_01" Desc="扫描器主站01" />
      <Item ServiceName="StockPLC_01" ItemName="ErrReset_01" Desc="扫描器主站01" />
    </Process>
    <Process Name="StockInRequestProcess" Type="THOK.AS.Stocking.dll, THOK.AS.Stocking.StockInProcess.StockInRequestProcess" />
    <Process Name="LEDProcess" Type="THOK.AS.Stocking.dll, THOK.AS.Stocking.StockInProcess.LEDProcess" />
    <Process Name="ViewProcess" Type="THOK.AS.Stocking.dll, THOK.AS.Stocking.StockInProcess.ViewProcess" />
    <!--状态管理器添加-->
    <Process Name="OrderDataStateProcess" Type="THOK.AS.Stocking.dll, THOK.AS.Stocking.StateManageProcess.OrderDataStateProcess">
      <Item ServiceName="StockPLC_01" ItemName="01_OrderDataMoveNext" />
      <Item ServiceName="StockPLC_01" ItemName="01_OrderDataMoveTo" />
      <Item ServiceName="StockPLC_02" ItemName="02_OrderDataMoveNext" />
      <Item ServiceName="StockPLC_02" ItemName="02_OrderDataMoveTo" />
    </Process>
    <Process Name="LedStateProcess" Type="THOK.AS.Stocking.dll, THOK.AS.Stocking.StateManageProcess.LedStateProcess">
      <Item ServiceName="StockPLC_02" ItemName="01_LedMoveNext" />
      <Item ServiceName="StockPLC_02" ItemName="01_LedMoveTo" />
      <Item ServiceName="StockPLC_02" ItemName="01_LedShowData" />
      <Item ServiceName="StockPLC_02" ItemName="01_ReleaseLed" />
      <Item ServiceName="StockPLC_02" ItemName="02_LedMoveNext" />
      <Item ServiceName="StockPLC_02" ItemName="02_LedMoveTo" />
      <Item ServiceName="StockPLC_02" ItemName="02_LedShowData" />
      <Item ServiceName="StockPLC_02" ItemName="02_ReleaseLed" />
      <Item ServiceName="StockPLC_02" ItemName="03_LedMoveNext" />
      <Item ServiceName="StockPLC_02" ItemName="03_LedMoveTo" />
      <Item ServiceName="StockPLC_02" ItemName="03_LedShowData" />
      <Item ServiceName="StockPLC_02" ItemName="03_ReleaseLed" />
      <Item ServiceName="StockPLC_02" ItemName="04_LedMoveNext" />
      <Item ServiceName="StockPLC_02" ItemName="04_LedMoveTo" />
      <Item ServiceName="StockPLC_02" ItemName="04_LedShowData" />
      <Item ServiceName="StockPLC_02" ItemName="04_ReleaseLed" />
      <Item ServiceName="StockPLC_02" ItemName="05_LedMoveNext" />
      <Item ServiceName="StockPLC_02" ItemName="05_LedMoveTo" />
      <Item ServiceName="StockPLC_02" ItemName="05_LedShowData" />
      <Item ServiceName="StockPLC_02" ItemName="05_ReleaseLed" />
      <Item ServiceName="StockPLC_02" ItemName="06_LedMoveNext" />
      <Item ServiceName="StockPLC_02" ItemName="06_LedMoveTo" />
      <Item ServiceName="StockPLC_02" ItemName="06_LedShowData" />
      <Item ServiceName="StockPLC_02" ItemName="06_ReleaseLed" />
      <Item ServiceName="StockPLC_02" ItemName="07_LedMoveNext" />
      <Item ServiceName="StockPLC_02" ItemName="07_LedMoveTo" />
      <Item ServiceName="StockPLC_02" ItemName="07_LedShowData" />
      <Item ServiceName="StockPLC_02" ItemName="07_ReleaseLed" />
      <Item ServiceName="StockPLC_02" ItemName="08_LedMoveNext" />
      <Item ServiceName="StockPLC_02" ItemName="08_LedMoveTo" />
      <Item ServiceName="StockPLC_02" ItemName="08_LedShowData" />
      <Item ServiceName="StockPLC_02" ItemName="08_ReleaseLed" />
      <Item ServiceName="StockPLC_02" ItemName="09_LedMoveNext" />
      <Item ServiceName="StockPLC_02" ItemName="09_LedMoveTo" />
      <Item ServiceName="StockPLC_02" ItemName="09_LedShowData" />
      <Item ServiceName="StockPLC_02" ItemName="09_ReleaseLed" />
      <Item ServiceName="StockPLC_02" ItemName="10_LedMoveNext" />
      <Item ServiceName="StockPLC_02" ItemName="10_LedMoveTo" />
      <Item ServiceName="StockPLC_02" ItemName="10_LedShowData" />
      <Item ServiceName="StockPLC_02" ItemName="10_ReleaseLed" />
    </Process>
    <Process Name="ScannerStateProcess" Type="THOK.AS.Stocking.dll, THOK.AS.Stocking.StateManageProcess.ScannerStateProcess">
      <Item ServiceName="StockPLC_02" ItemName="02_ScannerMoveNext" />
      <Item ServiceName="StockPLC_02" ItemName="02_ScannerMoveTo" />
      <Item ServiceName="StockPLC_02" ItemName="02_ScannerShowData" />
      <Item ServiceName="StockPLC_02" ItemName="02_ReleaseScanner" />
      <Item ServiceName="Scanner" ItemName="02" Desc="扫描器主站02" />
    </Process>
  </Processes>
</Configuration>